<!-- views/partials/header.ejs -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Flower Shop
            </a>
        </div>
        <ul class="nav navbar-nav" style="width:84%">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <%if(req && req.session && req.session.user && (req.session.user.type=="admin" || req.session.user.type=="employee")){ %>  
            <li><a href="/users">Users</a></li>
            <% }%>     
            <%if(req && req.session && req.session.user && req.session.user.type=="admin"){ %>            
            <li><a href="/employees">Employees</a></li>
            <% }%>  
            <li><a href="/shops">Shops</a></li>
            <li><a href="/catalog">Catalog</a></li>
            <%if(req && req.session && req.session.user){ %> 
            <li style="position:relative;left:32%"><a href="/logout">logout</a></li>                
            <% }else { %>               
            <li style="position:relative;left:32%"><a href="/login">Login</a></li>
            <% } %>
        </ul>
    </div>
</nav>