<!DOCTYPE html>
<!-- views/about.ejs -->
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header',{req}); %>
    </header>
    <main>
        <div id="aboutuscontentbox">
            <p class="aboutusboxheader">About Flower Shop</p>


            <p>Flower Shop is the oldest full service florist in Farmville, VA. Since the early 1950's, we have
                joined our customers in celebrating their lifetime events by providing the finest flowers and superior
                service. Let us help you create a memory!</p>

            <p>We're a local Farmville, Virginia florist delivering courteous, professional service and the highest
                quality floral and gift items around. Our experienced designers can create floral designs that will
                compliment any occasion and meet your budget and style expectations as well. We also offer daily
                delivery service to all local funeral homes and hospitals.</p>

            <p>When it's time to shop for a gift for any occasion...
                Call or stop by our shop in Farmville. Choose from our nice selection of Green plants, Blooming plants,
                Dish gardens, Fruit Baskets, Gourmet Baskets, Gift Baskets, Baby Gifts, Candy, greeting Cards, Home
                Decor, Silk Flowers, Plush Stuffed Animals and more!</p>

            <p>When it's time to send funeral flowers...
                You can always depend on us to help you with ordering flowers after a friend or loved one passes. We
                will design and deliver flowers that beautifully convey your expressions of sympathy and serve as a
                lovely tribute to the deceased.</p>

            <p>When it's time to plan a wedding, party or event...
                Our beautiful selection of high quality flowers and eye-catching design styles are sure to bring rave
                reviews on your wedding day or at any festive occasion-large or small. Call our shop in advance at
                434-392-3151 or 1-800-231-2268 to schedule your free consultation.</p>

        </div>
        <div id="aboutuscontentbox">
            <div id="googlemap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.618605626293!2d-78.40334138457308!3d37.30417204686728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b24ebed36744d5%3A0xc5d4697dfd2c384a!2sCarters+Flower+Shop!5e0!3m2!1sen!2sus!4v1528907184413"
                    width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>

            <p class="aboutusboxheader">Location and Hours of Operation:</p>
            If you have any questions or need more information, please contact us by e-mail at <a href="mailto:comments@cartersflowershop.com">comments@cartersflowershop.com</a>
            or call us directly at 434-392-3151 or 800-231-2268. <br>
            <br>

            Flower Shop<br>
            711 West 3rd Street<br>
            Farmville, NY 23901
            <p>Monday - Saturday : 8:30 a.m. - 5:00 p.m <br>
                Sunday - Closed
                <br>
                <br>
            </p>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>