<!DOCTYPE html>
<!-- views/contact.ejs -->
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
            <%- include('../partials/header',{req}); %>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">                   
                    <p>located at israel, tel-aviv</p>
                    <p>+972534296062</p>
                </div>
            </div>
           
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>