<!DOCTYPE html>
<!-- views/index.ejs -->
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>       
        <%- include('../partials/header',{req:req}); %>
    </header>
    <main>
        <div class="jumbotron">
            <p>Welcome to Flower Shop</p>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>