<!DOCTYPE html>
<!-- views/index.ejs -->
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>       
        <%- include('../partials/header',{req:req}); %>
    </header>
   <img src="/images/Welcome-page.png"/>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>